<!-- Notification Section -->
<% if (statusMessage) { %>
    <div class="alert <%= statusMessage.type === 'success' ? 'alert-success' : 'alert-danger' %>">
        <%= statusMessage.text %>
    </div>
    <% } %>


        <!-- Admin Title -->
        <div class="admin_title">
            <h2>Posts</h2>
            <a href="/add-post" class="button">+ Add New</a>
        </div>

        <!-- Admin Posts List -->
        <ul class="admin_posts">
            <% data.forEach(post=> { %>
                <li>
                    <a href="/post/<%= post._id %>">
                        <%= post.title %> &nearr;
                    </a>

                    <div class="admin_post_controls">
                        <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>

                        <button type="button" class="btn" onclick="showDeleteModal('<%= post._id %>')">Delete</button>
                    </div>
                </li>
                <% }) %>
        </ul>



        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="hideDeleteModal()">&times;</span>
                <h2>Confirm Deletion</h2>
                <p id="deleteMessage">Are you sure you want to delete this post?</p>
                <div class="modal-actions">
                    <form id="delete-form" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </form>
                    <button class="btn btn-secondary" onclick="hideDeleteModal()">Cancel</button>
                </div>
            </div>
        </div>

        <script>
            function showDeleteModal(postId) {
                // Show the confirmation box
                const confirmationBox = document.getElementById('deleteModal');
                const form = document.getElementById('delete-form');

                // Update the form action URL with the selected postId
                form.action = '/delete-post/' + postId + '?_method=DELETE';

                // Display the confirmation box
                confirmationBox.style.display = 'block';
            }

            function hideDeleteModal() {
                // Hide the confirmation box
                document.getElementById('deleteModal').style.display = 'none';
            }


            window.onclick = function (e) {
                const modal = document.getElementById('deleteModal');
                if (event.target === modal) {
                    hideDeleteModal();
                }
            }
        </script>
        </body>

        </html>